<footer class="footer" th:fragment="footer-content">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-logo-area">
                <img src="/images/logo_footer.png" alt="Korean Physiatrists Association" class="footer-logo">
            </div>
            <div class="footer-info">
                경기도 안양시 만안구 안양로 249, 302호<br>
                <b>TEL</b> : 1599-4897 <b>FAX</b> : 02-6007-1102 <b>E-Mail</b> : kmreha@naver.com<br>
                <b>사업자등록번호</b> : 464-96-01171(대한재활의학과의사회)
            </div>
            <div class="footer-links">
                <a href="#" class="footer-link">개인정보취급방침</a>
                <span class="footer-divider"></span>
                <a href="#" class="footer-link">이메일무단수집거부</a>
                <br>
                <b>Copyright © The Korean Practitioner's Association of Physical Medicine & Rehabilitation. All rights reserved.</b>
            </div>
        </div>
    </div>
</footer>